<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS TESTING</title>
</head>
<body>

<!--
    Note: .ejs file file understands only html content.
    But suppose here to you to change the color of your headding by giving some condition then you must use the scriptlet tag of ejs. -->

    <h1>Today is a <%= whichday %> </h1> 
    
  <%  if(whichday=="weekday"){ %>
  
        <h1 style="color:red">Today is a <%= whichday %> </h1> 
  <%  }else{ %>
    <h1 style="color:green">Today is a <%= whichday %> </h1> 
<% } %>

   
   
</body>

</html>